 MathLibrary/.vs/MathLibrary/FileContentIndex/331bc380-2d3a-4d5c-9da4-4e49aad28661.vsidx
 MathLibrary/.vs/MathLibrary/FileContentIndex/359687c1-506f-4cfc-a3c2-7229f11e5349.vsidx
 MathLibrary/.vs/MathLibrary/FileContentIndex/6de54f1c-f517-43b4-a73d-19eaa161d910.vsidx
 MathLibrary/.vs/MathLibrary/FileContentIndex/a5ac86d9-6026-4afd-bc07-8b8876ededd1.vsidx
